OVERRIDE_HOSTNAME=tech.autoro.tech

# Security defaults
SSL_TYPE=manual
SSL_CERT_PATH=/etc/ssl/mail/fullchain.pem
SSL_KEY_PATH=/etc/ssl/mail/key.pem
ENABLE_FAIL2BAN=1
FAIL2BAN_BLOCKTYPE=drop
POSTSCREEN_ACTION=enforce
SPOOF_PROTECTION=1
ENABLE_CLAMAV=0
ENABLE_SPAMASSASSIN=1
ENABLE_OPENDKIM=1
ENABLE_OPENDMARC=1

# Protocols and auth hardening
ENABLE_IMAP=1
ENABLE_POP3=0
ENABLE_MANAGESIEVE=0
SMTP_ONLY=0
AUTH_FAIL_DELAY=5

# Recommended timezone
TZ=UTC
